@import url(http://fonts.googleapis.com/css?family=News+Cycle:400,700);

body {
  background: #000;
  color: #fff;
}

h1, h2, h3 {
  font-family: 'News Cycle', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: #5cd7fd;
}
h2 {
  color: #5cd7fd;
}

.title header {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -5em;
  text-align: center;
}
.title header h1 {
  font-size: 4.5em;
}
.title header h2 {
  font-size: 2.5em;
  color: #f1f1f1;
  font-weight: normal;
}